
.content-home{
  padding-top: 30px;
  margin: auto;
  width:1140px;
  height: inherit;
  font-family: 'MICRADI';
  font-size: 14px;
  color: #e5d800;
}
.sliderDota-home{
  padding:0px;
  margin:0px;
  width:1140px;
  height:250px;
}
.sliderCSGO-home{
  padding:0px;
  margin:0px;
  width:1140px;
  height:250px;
}
.quater1-home{
  padding:0px;
  margin:0px 0px 0px 0px;
  width:263px;
  height:240px;
  float:left;
}
.quater2-home{
  padding:0px;
  margin:0px 30px 0px 30px;
  width:263px;
  height:240px;
  float:left;
}
.quater3-home{
  padding:0px;
  margin:0px;
  width:263px;
  height:240px;
  float:left;
}
.quater4-home{
  padding:0px;
  margin:0px 0px 0px 25px;
  width:263px;
  height:240px;
  float:left;
}
.text-home {
  width:263px;
  height:140px;
  color: #7bb4d7;
  text-align: center;
  padding-top: 155px;
}
.btnStart-home {
  padding-top: 22px;
  text-align: center;
  margin: 10px auto;
  width:257px;
  height:60px;
}
.fourQuaters-home{
  padding: 42px 0px 10px 0px;
}
.btnStart-home:active {
  padding-top: 22px;
  text-align: center;
  margin: 10px auto;
  width:257px;
  height:60px;
  background-image: url(../../../images/btnActStartEduc.png);
}
.videoToParents-home{
  border-width: 0px;
  padding:0px;
  margin:0px;
  width:1140px;
  height:70px;
}
.player-home{
  padding-left:5px;
  padding-top:5px;
  margin:0;
  width:1140px;
  height:640px;
  background-image: url(../../../images/player.png);
}
.сontrols-home{
  margin:auto;
  width:1125px;
  height:30px;
  background-color: #000;
}
.play-home{
  margin:0;
  width:21px;
  height:21px;
  padding:10px;
  background-image: url(../../../images/play.png);
  float: left;
}
.pause-home{
  margin:0;
  width:21px;
  height:21px;
  padding:10px;
  background-image: url(../../../images/pause.png);
  float: left;
}
.fullscreen-home{
  margin:3px 0px 3px 10px;
  width:21px;
  height:21px;
  padding:0px;
  background-image: url(../../../images/fullscreen.png);
  float: left;
}
.time-home{
  float: left;
  padding:3px 12px 3px 12px;
  color: white;
}
input[type=range] {
  float: left;
  margin-top:10px;
  width: 870px;
  height: 3px;
  -webkit-appearance: none;
  border: 0 none;
  background:blue;
  color: #0069b4 ;
  overflow: visible;
}
input[type=range].volume-home{
  float: left;
  margin-top:10px;
  padding:0px 10px 0px 10px;
  width: 60px;
  height: 3px;
  -webkit-appearance: none;
  border: 0 none;
  background: #0069b4;
  color: #0069b4;
  overflow: visible;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: blue;
  cursor: pointer;
  // margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}


 input[type=range]::-moz-range-thumb {
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   border: 1px solid #000000;
   height: 36px;
   width: 16px;
   border-radius: 3px;
   background: #ffffff;
   cursor: pointer;
 }
