.container-mycourse {
  font-family: 'MICRADI';
  font-weight: medium;
  color: yellow;
  align-items:baseline;
  margin-top:20px;
}
.button-lesson-name-mycourse {
  padding-top:8px;
  margin:0px;
  text-align: center;
  width:267px;
  height:38px;
  display: block;
  background-image: url(../../../../../images/buttonLessonName.png);
}
.section-list-mycourse {
  padding:0px;
  margin:0px;
  text-align: center;
  width:263px;
  height:248px;
  color: white;
}
.bonus-link-mycourse {
  color: #7bb4d7;
}
.link-mycourse {
  color: yellow;
}
.checkbox-mycourse {
  padding:0px;
  margin:0px;
  width:13px;
  height:15px;
  display: inline-block;
  background-image: url(../../../../../images/checkBox.png);
}
.button-continie-lesson-mycourse {
  padding:5px;
  margin:15px;
  width:241px;
  height:33px;
  text-align: center;
  display: block;
  background-image: url(../../../../../images/buttonContLesson.jpg);
}
.button-continie-lesson-mycourse:active {
  padding:5px;
  margin:15px;
  width:241px;
  height:33px;
  text-align: center;
  display: block;
  background-image: url(../../../../../images/buttonContLessonPress.jpg);
}
.button-coach-chat-mycourse{
  padding-top:8px;
  margin:0px;
  text-align: center;
  width:267px;
  height:38px;
  display: block;
  background-image: url(../../../../../images/buttonLessonName.png);
}
.chat-field-mycourse {
  padding:0px;
  margin:0px;
  width:263px;
  height:293px;
  font-size: 10pt;
}
.chat-input-mycourse {
  padding: 0px;
  margin: 5px 10px;
  width:240px;
  height:61px;
  border: none;
  color: yellow;
}
.chat-button-mycourse {
  padding:8px;
  margin-top:10px;
  width:267px;
  height:38px;
  text-align: center;
  display: block;
  background-image: url(../../../../../images/chatButton.png);
}
.hi-words-mycourse {
  padding:20px;
  margin:0px;
  width:847px;
  height:221px;
  color: #7bb4d7;
}
.progress-lesson-mycourse{
  padding:15px;
  margin:0px;
  width:847px;
  height:280px;
}
.starRow-mycourse {
  display: block;
  padding-top:10px;
  margin:auto;
  width:847px;
  height:130px;
}
.circle-mycourse {
  float: left;
}
.starFff-mycourse{
  padding-top:60px;
  width:79px;
  height:104px;
  float:left;
  text-align: center;
}
.starEee-mycourse{
  padding-top:60px;
  width:79px;
  height:104px;
  float:left;
  text-align: center;
}
.starFfe-mycourse{
  padding-top:60px;
  width:79px;
  height:104px;
  float:left;
  text-align: center;
}
.starFee-mycourse{
  padding-top:60px;
  width:79px;
  height:104px;
  float:left;
  text-align: center;
}
.questions-mycourse {
  display: block;
}
.question-field-mycourse {
  padding:0px;
  margin:0px;
  width:847px;
  height:193px;
  float:left;
  text-align: center;
  background-image: url(../../../../../images/questionField.jpg);
}
.question-button-mycourse {
  padding-top:8px;
  margin-top:5px;
  width:267px;
  height:38px;
  text-align: center;
  background-image: url(../../../../../images/questionButton.png);
}
.topic-options-mycourse{
  padding: 0px;
  margin:0px;
  font-family: 'MICRADI';
  font-weight: medium;
  color: #7bb4d7;
  width:847px;
  height:36px;
  border: none;
}
.options-lessons-mycourse{
  border: none;
  background-color: black;
}
.question-input-mycourse{
  padding: 0px;
  margin:0px;
  font-family: 'MICRADI';
  font-weight: medium;
  color: #7bb4d7;
  width:847px;
  height:193px;
  border: none;
}
.save-comment-button-mycourse {
  padding-top:8px;
  margin:auto;
  width:267px;
  height:38px;
  text-align: center;
  background-image: url(../../../../../images/questionButton.png);
}
.scroll-mycourse::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #000000;
}
.scroll-mycourse::-webkit-scrollbar
{
  width: 23px;
  background-color: red;
}
.scroll-mycourse::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #1a1a1a;
}
.scroll-mycourse::-webkit-scrollbar-button:vertical:increment {
  width:23px;
  height:22px;
  background-image: url(../../../../../images/down.jpg);
}
.scroll-mycourse::-webkit-scrollbar-button:vertical:decrement {
  width:23px;
  height:22px;
  background-image: url(../../../../../images/up.jpg);
}
.scroll-mycourse{
  margin: 0px;
}
