.content-faculties{
  padding-top: 22px;
  margin: auto;
  width:1140px;
  font-family: 'MICRADI';
  font-size: 14px;
  color: #e5d800;
}
.third1-faculties{
  padding:0px;
  margin:0px;
  width:360px;
  height:584px;
}
.third2-faculties{
  padding:0px;
  margin:0px;
  width:360px;
  height:584px;
}
.third3-faculties{
  padding:0px;
  margin:0px;
  width:360px;
  height:584px;
}
.textFrame-faculties {
  padding-top:10px;
  color: #7bb4d7;
  width:360px;
  height:70px;
  text-align: center;
}
.btnEnterFacult-faculties {
  font-size: 12px;
  padding-top: 22px;
  text-align: center;
  margin: 0 auto;
  width:250px;
  height:64px;
}
