// @font-face {
// 	font-family: 'MICRADI';
// 	src: url('/src/fonts/MICRADI_.eot');
// 	src: local('☺'),
//   url('/src/fonts/MICRADI_.woff') format('woff'),
//   url('/src/fonts/MICRADI_.ttf') format('truetype'),
//   url('/src/fonts/MICRADI_.svg') format('svg');
// 	font-weight: medium;
// 	font-style: normal;
// }
.container {
// font-family: 'MICRADI';
// font-size: 14px;
display: flex;
// color: #e5d800;
}
.footer-block-footer{
  width:100%;
	height:50px;
	background-color: #000;
}
.block-footer {
   padding:15px;
   margin:0px;
	 color: #e5d800;
}
.block-footer  a:hover { color: blue}
.social-media-footer {
	padding:30px;
	margin:0px;
	color: #e5d800;
}
.vk-footer  {
	padding:10px;
	margin:10px 10px 0px 10px;
	width:31px;
	height:30px;
	float:left;
}
.fb-footer  {
	padding-left: 0px;
	margin:10px 10px 0px 230px;
	width:28px;
	height:30px;
}
.twitter-footer  {
	padding:10px;
	margin:10px 10px 0px 10px;
	width:28px;
	height:30px;
	float:left;
}
.viber-footer  {
	padding:10px;
  margin:10px 10px 0px 10px;
	width:28px;
	height:30px;
	float:left;
}
