.container-faq{
font-family: 'MICRADI';
font-size: 14px;
color: #e5d800;
}
.vip-header-faq {
  padding: 0px;
  margin: 40px auto 10px auto;
  width:1140px;
  height:170px;
}
h1:before{
  content: "\271A";
}
p {
  margin: 0px;
}
.frame-faq{
  padding: 20px;
  margin: 5px 20px 5px 0px;
  width:560px;
  height:398px;
  font-size: 12px;
  color: white;
}
.vip-frame-faq{
  padding: 20px;
  margin:5px 20px 5px 0px;
  width:560px;
  height:398px;
  font-size: 12px;
}
