.content-faculty{
  padding-top: 22px;
  margin: auto;
  width:1140px;
  font-family: 'MICRADI';
  font-size: 14px;
  color: #e5d800;
}
.description-faculty{
  padding:0px;
  margin-top:10px;
  width:750px;
  height:181px;
}
.text-description-faculty {
  padding:20px;
  color: #7bb4d7;
  text-align: left;
  font-size: 12px;
}
.logo-Dota2-faculty{
  padding:0px;
  margin-top:10px;
  width:360px;
  height:181px;
  float:left;
}
.logo-CSGO-faculty{
  padding:0px;
  margin:0px;
  width:360px;
  height:181px;
}
.logo-LoL-faculty{
  padding:0px;
  margin:0px;
  width:360px;
  height:181px;
}
.course0-faculty{
  padding:0px;
  margin:20px 0px 10px 0px;
  width:361px;
  height:317px;
  background-image: url(../../../images/course1.jpg);
}
.course1-faculty{
  padding:0px;
  margin:20px 0px 10px 0px;
  width:361px;
  height:317px;
  background-image: url(../../../images/course2.jpg);
}
.course2-faculty{
  padding:0px;
  margin:20px 0px 10px 0px;
  width:361px;
  height:317px;
  background-image: url(../../../images/course3.jpg);
}
.btn-start-faculty{
  bottom: 35px;
  padding:20px 5px 0px 45px;
  position: relative;
  left: calc((30%-120px)/2);
  width:250px;
  height:64px;
}
.text-course-faculty{
  padding:10px 20px 5px 10px;
  color: #7bb4d7;
  height:120px;
  height:100px;
  text-align: right;
  font-size: 12px;
}
.text-reviews-faculty{
  padding:30px 10px 5px 10px;
  color: #7bb4d7;
  text-align: center;
  font-size: 12px;
}
.text-name-faculty{
  padding: 5px 20px 3px 0px;
  margin: 0px;
  color: white;
  height:35px;
  font-size: 14px;
  text-align: right;
}
.text-time-faculty{
  color: #e5d800;
  padding: 95px 20px 3px 0px;
  margin:0px;
  font-size: 14px;
  text-align: right;
}
.text-reviewNuber-faculty{
  color: #e5d800;
  padding: 95px 20px 5px 0px;
  margin:0px;
  font-size: 14px;
  text-align: right;
}
.text-starMark-faculty{
  color: #e5d800;
  padding: 15px 10px 5px 15px;
  margin:0px;
  font-size: 14px;
  text-align: right;
  width:350px;
  margin:0px;
}
.starFull-faculty{
  padding:0px;
  margin-top:0px;
  width:24px;
  height:21px;
  float:left;
}
.starHalf-faculty{
  padding:0px;
  margin-top:0px;
  width:24px;
  height:21px;
  float:left;
}
.starEmpty-faculty{
  padding:0px;
  margin-top:0px;
  width:24px;
  height:21px;
  float:left;
}
.stars-faculty{
  float:left;
}
.avatar-faculty{
  padding:0px;
  margin-top:5px;

}
.reviews-faculty{
  margin-top:5px;
  width:750px;
  height:120px;
}
